<!DOCTYPE html>
<html>
<head>
	<title>Bootstrap 实例</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<!-- Custom styles for this template -->
	<link href="../static/css/signin.css" rel="stylesheet">
</head>
<body class="text-center">
	<form class="form-signin" method="post" action="http://localhost:8080/login">
		<img class="mb-4" src="../static/img/cat.jpeg" alt="" width="72" height="72">
		<label for="inputUserName" class="sr-only">用户名</label>
		<input type="text" id="inputUserName" name="username" class="form-control" placeholder="用户名" required autofocus>
		<label for="inputPassWord" class="sr-only">Password</label>
		<input type="password" id="inputPassWord" name="password" class="form-control" placeholder="密码" required>
		<button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
		<p class="mt-5 mb-3 text-muted">&copy; 2022-2099</p>
	</form>
</body>
</html>
